body {
	background-color: #d7d7d7;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.motori{
	background-color: #e0e0e0;
	font-size: 1.1em;
	min-height: 50vh;

}



a .btn{
	color: white;
}

.motor{
	color: black;
}